/*
**************************
          name
**************************
*/

/*
************END***********
*/

/*
**************************
          SCSS
**************************
*/
$backgrounddark: #fbfbfc;

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

/*
************END***********
*/
/*
**************************
          general
**************************
*/

* {
  font-family: "Nunito", Sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

h4 {
  font-weight: 700;
}

.btn {
  border: none;
  padding: 13px 30px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 166px;
}

.btn-yellow {
  background-color: #f9dd4a;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
  font-weight: bold;
  color: #3d3d3d;
}

.btn-yellow:hover {
  background-color: #fff9c6;
}

.btn-blue {
  background-color: #2779f5;
  color: white;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #014cc1;
}

.btn-green {
  background-color: #00bc89;
  color: white;
}

.btn-green:hover {
  background-color: #0a8a67;
}

.btn-darkblue {
  background-color: #09217b;
  color: white;
  font-weight: bold;
}

.btn-darkblue:hover {
  background-color: #050d2b;
}

/*
************END***********
*/

/*
**************************
          header
**************************
*/
header {
  height: 58px;
  width: 100%;
  margin: 0px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
}

header img {
  max-width: 173px;
  height: auto;
}

.container-header {
  display: flex;
  max-width: 350px;
  margin: 16px 72px;
  justify-content: space-between;
}

/*
************END***********
*/

/*
**************************
          navbar
**************************
*/

.line {
  background-color: #6b7280;
  height: 2.4px;
  border-radius: 25px;
  width: 20px;
  margin-bottom: 4px;
}

.burger {
  margin-top: 7px;
  margin-right: 5px;
  border-radius: 7px;
  padding: 3px 6px;
}

.burger img {
  height: 32px;
  width: 27px;
}

.burger:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

.hide-me {
  position: absolute;
  opacity: 0;
}

header .come-down {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: white;
  z-index: 4;
  padding: 40px;
  pointer-events: all;

  .dropdown {
    padding: 10px;
    font-size: 15px;

    ul li {
      font-weight: 400;
    }
  }
}

.backdrop>.come-down>li:not(a) {
  font-weight: 700;
}

.come-down a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.focus:focus-within .burger {
  border: #d9d9da solid 2px;
}

.focus:focus-within>.backdrop>.come-down {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgb(17, 24, 39, 0.5);
  pointer-events: none;
}

.focus:focus-within>.backdrop {
  display: block;
}

.focus:focus-within:has(.burger) {
  pointer-events: none;
}

/*
************END***********
*/

/*
**************************
       video-section
**************************
*/

h1 {
  font-size: 20px;
  line-height: 35px;
  font-weight: 700;
}

.yellow-box {
  background-color: #f9dd4a;
  border-radius: 20px 20px 20px 0;
  padding: 0 15px;
  white-space: nowrap;
}

p,
h1 {
  text-align: center;
}

.videoandtext {
  @include flex(column, flex-start, center);
}

.video-section img {
  display: none;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

iframe {
  border: 5px solid #09217b;
  border-radius: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p>.speaker {
  display: inline;
  height: 20px;
  width: 20px;
}


.hear {
  background-color: #eee;
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 40px 10px 10px 40px;
  @include flex(row, flex-end, center);
  width: fit-content;
  gap: 10px;
  align-self: flex-end;
}

.container-btn {
  @include flex(row, space-around, flex-start);
}

/*
************END***********
*/

/*
**************************
  consistent and reliable
**************************
*/
.consistent {
  background-color: $backgrounddark;
  padding: 30px 30px;
  padding-bottom: 250px;

  P {
    text-align: left;
  }
}

// form label a:active {
//   text-decoration: underline;
// }

.looking-glass {
  width: 18px;
  height: auto;
  display: inline;
}

.consistent a {
  color: #2779f5;
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 30px;
}

.consistent a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.container-links {
  display: block;
  background-color: white;
  height: 60px;
  width: 85vw;
  @include flex(column, center, flex-start)
}

.container-links a {
  color: black;
  font-size: 15px;
  @include flex(row, flex-start, center);
  gap: 10px;
  line-height: 2px;
}

.right-arrow {
  width: 8px;
  height: auto;
  display: inline;
}

.container-consistent>div {
  height: 200px;
  width: auto;
}

.container-consistent {
  position: relative;
}

.cost-effective,
.free-primary,
.free-secondary,
.premium-primary {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: white;
}

#cost-effective {
  opacity: 1;
}

.cost-effective:target,
.free-primary:target,
.free-secondary:target,
.premium-primary:target {
  opacity: 1;
  scroll-margin-top: 500px;
  visibility: visible;
}

.consistent form #underline1:checked~#label-underline1,
.consistent form #underline2:checked~#label-underline2,
.consistent form #underline3:checked~#label-underline3,
.consistent form #underline4:checked~#label-underline4 {
  text-decoration: underline;
  text-decoration-color: #2779f5;
}

/*
************END***********
*/
/*
**************************
Maths tutoring programmes
**************************
*/

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.maths-tutoring {

  h3 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 0px auto;
  }
}

/*
************END***********
*/
/*
**************************
           banner
**************************
*/
.banner {
  @include flex(row, center, center);
  background: linear-gradient(166deg, #398bda 1%, #00bc89 40%);
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 20px;
  color: white;
  gap: 30px;


  img {
    max-width: 290px;
    min-width: 10px;
    height: auto;
    flex-basis: 30%;
  }

  p {
    flex-basis: 70%;
    text-align: left;
    margin-bottom: 0px;
    ;
  }
}

/*
************END***********
*/
/*
**************************
Why schools like yours choose TSL
**************************
*/
.why {
  text-align: left;
  margin: 30px;

  h3 {
    font-weight: 400;
    font-size: 20px;
  }

  p {
    text-align: left;
  }

  q {
    font-style: italic;
    font-size: 15px;
    ;
  }

  q~p {
    //this is the name of the person that gave the q
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
  }
}

/*
************END***********
*/
/*
**************************
      turning cards
**************************
*/

.turning-cards {
  width: 400px;
  height: 300px;
  perspective: 1000px;
  margin: 0px auto 10px auto;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.turning-cards-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.turning-cards:hover .turning-cards-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
  background-color: white;
  border: grey solid 1px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
}

/* Style the back side */
.back {
  background-color: white;
  border: grey solid 1px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
  transform: rotateY(180deg);
}

.turning-cards img {
  height: 20px;
  width: auto;
}

.turning-cards .number {
  font-size: 6rem;
}

.schools-supported .number {
  color: #2779f5;
}

.pupils-taught .number {
  color: #00bc89;
}

/*
************END***********
*/

/*
**************************
          carousel
**************************
*/
.carousel-item {
  margin: 20px;
  height: 600px;
  background-color: white;
  border: grey solid 1px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#maria {
  display: block;
}

#maria:target,
#catherine:target,
#mandy:target,
#gemma:target,
#abi:target,
#daniel:target,
#angie:target,
#liz:target {
  z-index: 2;
  display: block;
  scroll-margin-top: 300px;
}

.carousel-item img {
  height: 50px;
}

.carousel-container {
  position: relative;
  margin-bottom: 700px;
}

/*
************END***********
*/

/*
**************************
          name
**************************
*/
.container-working {
  box-shadow: 0px 8.25px 11.25px rgba(0, 0, 0, 0.2),
    0px 6.75px 34.5px rgba(0, 0, 0, 0.12), 0px 18px 28.5px rgba(0, 0, 0, 0.14);
  width: 90%;
  margin: 0px auto 20px auto;
  padding: 15px;
  border-radius: 24px;
}

/*
************END***********
*/

/*
**************************
  ready to get started
**************************
*/
.container-ready {
  padding: 30px;
  background-color: white;
  max-width: 515px;
  margin: 0px 15px 20px 15px;
}

main {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100vw;
  padding-bottom: 100px;
}

/*
************END***********
*/

/*
**************************
          footer
**************************
*/
footer .logo-footer {
  width: 173px;
}

.icons {
  height: 15px;
  display: inline;
}

.contact a {
  display: block;
}

.social-media {
  height: 30px;
  margin: 5px;
  display: inline;
}

.container-flag {
  border-radius: 45px;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flag {
  height: 30px;
}

.container-flag-american {
  display: none;
}

#drop-down {
  cursor: pointer;
}

#drop-down:checked~.container-flag-american {
  display: flex;
}

/*
************END***********
*/