/*
**************************
          name
**************************
*/
/*
************END***********
*/
/*
**************************
          SCSS
**************************
*/
.container-ready .btn,
.container-working img,
.see-all-case-studies,
.maths-tutoring .btn {
  display: block;
  margin: 0px auto;
}

/*
************END***********
*/
/*
**************************
          general
**************************
*/
* {
  font-family: "Nunito", Sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

h4 {
  font-weight: 700;
}

.btn {
  border: none;
  padding: 13px 30px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 166px;
}

.btn-yellow {
  background-color: #f9dd4a;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
  font-weight: bold;
  color: #3d3d3d;
}

.btn-yellow:hover {
  background-color: #fff9c6;
}

.btn-blue {
  background-color: #2779f5;
  color: white;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #014cc1;
}

.btn-green {
  background-color: #00bc89;
  color: white;
}

.btn-green:hover {
  background-color: #0a8a67;
}

.btn-darkblue {
  background-color: #09217b;
  color: white;
  font-weight: bold;
}

.btn-darkblue:hover {
  background-color: #050d2b;
}

/*
************END***********
*/
/*
**************************
          header
**************************
*/
header {
  height: 58px;
  width: 100%;
  margin: 0px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
}

header img {
  max-width: 173px;
  height: auto;
}

.container-header {
  display: flex;
  max-width: 350px;
  margin: 16px 72px;
  justify-content: space-between;
}

/*
************END***********
*/
/*
**************************
          navbar
**************************
*/
.line {
  background-color: #6b7280;
  height: 2.4px;
  border-radius: 25px;
  width: 20px;
  margin-bottom: 4px;
}

.burger {
  margin-top: 7px;
  margin-right: 5px;
  border-radius: 7px;
  padding: 3px 6px;
}

.burger img {
  height: 32px;
  width: 27px;
}

.burger:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

.hide-me {
  position: absolute;
  opacity: 0;
}

header .come-down {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: white;
  z-index: 4;
  padding: 40px;
  pointer-events: all;
}
header .come-down .dropdown {
  padding: 10px;
  font-size: 15px;
}
header .come-down .dropdown ul li {
  font-weight: 400;
}

.backdrop > .come-down > li:not(a) {
  font-weight: 700;
}

.come-down a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.focus:focus-within .burger {
  border: #d9d9da solid 2px;
}

.focus:focus-within > .backdrop > .come-down {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(17, 24, 39, 0.5);
  pointer-events: none;
}

.focus:focus-within > .backdrop {
  display: block;
}

.focus:focus-within:has(.burger) {
  pointer-events: none;
}

/*
************END***********
*/
/*
**************************
       video-section
**************************
*/
h1 {
  font-size: 20px;
  line-height: 35px;
  font-weight: 700;
}

.yellow-box {
  background-color: #f9dd4a;
  border-radius: 20px 20px 20px 0;
  padding: 0 15px;
  white-space: nowrap;
}

p,
h1 {
  text-align: center;
}

.videoandtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video-section img {
  display: none;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

iframe {
  border: 5px solid #09217b;
  border-radius: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p > .speaker {
  display: inline;
  height: 20px;
  width: 20px;
}

.hear {
  background-color: #eee;
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 40px 10px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  align-self: flex-end;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/*
************END***********
*/
/*
**************************
  consistent and reliable
**************************
*/
.consistent {
  background-color: #f9f8f8;
  padding: 30px 30px;
}
.consistent P {
  text-align: left;
}

.looking-glass {
  width: 18px;
  height: auto;
  display: inline;
}

.consistent label {
  color: #2779f5;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 30px;
}

input {
  /* visibility: hidden;
  transform: translateX(-100px); */
  display: none;
}

input:checked + label {
  text-decoration: underline;
}

.consistent label:hover,
.consistent a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.container-links {
  display: block;
  background-color: white;
  height: 80px;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.container-links a {
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  line-height: 22px;
  margin-bottom: 10px;
}

.right-arrow {
  width: 8px;
  height: auto;
  display: inline;
}

/* .container-consistent > div {
  height: 200px;
  width: auto;
} */

.container {
  position: relative;
}

.cost-effective,
.free-primary,
.free-secondary,
.premium-primary {
  position: absolute;
  top: 164px;
  left: 0px;
  visibility: hidden;
  background-color: white;
}

#cost-effective {
  visibility: visible;
}

input:checked label {
  text-decoration: underline;
}

.container-form {
  position: relative;
  height: 500px;
}

#underline1:checked ~ #cost-effective,
#underline2:checked ~ #free-primary,
#underline3:checked ~ #free-secondary,
#underline4:checked ~ #premium-primary {
  opacity: 1;
  scroll-margin-top: 500px;
  visibility: visible;
}

/*
************END***********
*/
/*
**************************
Maths tutoring programmes
**************************
*/
h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.maths-tutoring h3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
/*
************END***********
*/
/*
**************************
           banner
**************************
*/
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(166deg, #398bda 1%, #00bc89 40%);
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 20px;
  color: white;
  gap: 30px;
}
.banner img {
  max-width: 290px;
  min-width: 10px;
  height: auto;
  flex-basis: 30%;
}
.banner p {
  flex-basis: 70%;
  text-align: left;
  margin-bottom: 0px;
}

/*
************END***********
*/
/*
**************************
Why schools like yours choose TSL
**************************
*/
.why {
  text-align: left;
  margin: 30px;
}
.why h3 {
  font-weight: 400;
  font-size: 20px;
}
.why p {
  text-align: left;
}
.why q {
  font-style: italic;
  font-size: 15px;
}
.why q ~ p {
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
}

/*
************END***********
*/
/*
**************************
      turning cards
**************************
*/
.turning-cards {
  max-width: 500px;
  height: 300px;
  width: 100%;
  perspective: 1000px;
  margin: 0px auto 10px auto;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.turning-cards-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.turning-cards:hover .turning-cards-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the front side */
.front,
.back {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 0px 2px rgba(0, 0, 0, 0.14);
}

/* Style the back side */
.back {
  transform: rotateY(180deg);
}

.front img {
  align-self: flex-end;
  height: 19px;
  width: 18px;
}
.front p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0px;
}

.turning-cards .number {
  font-size: 45px;
  line-height: 140px;
  margin-bottom: 0px;
}

.schools-supported .number {
  color: #2779f5;
}

.pupils-taught .number {
  color: #00bc89;
}

/*
************END***********
*/
/*
**************************
          carousel
**************************
*/
.container-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -70px;
  left: 15%;
  margin: 0px auto;
  width: 70%;
  z-index: 5;
}
.container-arrows label {
  position: relative;
  height: 48px;
  width: 48px;
  background: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  padding: 10px;
  border-radius: 100%;
}

.container-arrows .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 19px;
  width: 13px;
}

.carousel-item {
  width: 90%;
  height: 420px;
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 30px;
  display: none;
}

#maria {
  display: inherit;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  visibility: visible;
}

#catherinee:checked ~ #catherine,
#mandyy:checked ~ #mandy,
#gemmaa:checked ~ #gemma,
#abii:checked ~ #abi,
#daniell:checked ~ #daniel,
#angiee:checked ~ #angie,
#lizz:checked ~ #liz {
  z-index: 2;
  position: absolute;
  display: inherit;
  visibility: visible;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transition: all 2s ease-in;  */
}

/* #for-catherine:checked ~ #catherine,
#for-mandy:checked ~ #mandy,
#for-gemma:checked ~ #gemma,
#for-abi:checked ~ #abi,
#for-daniel:checked ~ #daniel,
#for-angie:checked ~ #angie,
#for-liz:checked ~ #liz,
#for-liz2:checked ~ #liz2 {
  z-index: 2;
  position: absolute;
  visibility: visible;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 2s ease-in; 
}

#back-maria:checked ~ #maria,
#back-catherine:checked ~ #catherine,
#back-mandy:checked ~ #mandy,
#back-gemma:checked ~ #gemma,
#back-abi:checked ~ #abi,
#back-daniel:checked ~ #daniel,
#back-angie:checked ~ #angie {
  z-index: 3;
  position: absolute;
  visibility: visible;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */

.carousel-container input {
  display: block;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 550px;
}

.carousel-item img {
  height: 50px;
}

.container-carousel-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.carousel-item p {
  text-align: left;
  font-size: 17px;
}

.carousel-item p:nth-child(3) {
  font-size: 15px;
  font-weight: 700;
}

.carousel-item p:nth-child(4) {
  font-size: 13px;
}

.carousel-item a {
  display: block;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.carousel-item a span {
  background-color: #e3f2ff;
  padding: 0 4px;
}

.carousel-item a:hover {
  text-decoration: underline;
}

.see-all-case-studies {
  margin-bottom: 20px;
}

/*
************END***********
*/
/*
**************************
Working in partnership with the education community
**************************
*/
.container-working {
  box-shadow: 0px 8.25px 11.25px rgba(0, 0, 0, 0.2),
    0px 6.75px 34.5px rgba(0, 0, 0, 0.12), 0px 18px 28.5px rgba(0, 0, 0, 0.14);
  width: 90%;
  margin: 0px auto 20px auto;
  padding: 15px;
  border-radius: 24px;
}

.container-working p {
  padding: 10px 0 40px 0;
}

/*
************END***********
*/
/*
**************************
  ready to get started
**************************
*/
.container-ready {
  padding: 30px;
  background-color: white;
  max-width: 515px;
  margin: 0px 15px 20px 15px;
}

main {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100vw;
  padding-bottom: 100px;
}

/*
************END***********
*/
/*
**************************
          footer
**************************
*/
footer {
  padding: 50px;
  background-color: #f9f8f8;
}
footer a:hover {
  text-decoration: underline;
}
footer h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}
footer p {
  margin-bottom: 0px;
  text-align: left;
}
footer p small {
  font-size: 15px;
}

footer ul li ul {
  margin-bottom: 30px;
}

footer .logo-footer {
  width: 173px;
}

.icons {
  width: 15px;
  display: inline;
}

.icon-address {
  height: 16px;
  margin-bottom: -3px;
  width: auto;
}

.contact a {
  display: block;
}
.contact a span {
  padding: 5px;
}

.social-media {
  height: 30px;
  margin: 5px;
  display: inline;
}

/* flags */
.container-flag {
  border-radius: 45px;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flag {
  height: 30px;
}

.checkbox-america {
  display: none;
}

#drop-down {
  cursor: pointer;
}

#drop-down:checked ~ .checkbox-america {
  display: inherit;
  position: absolute;
}

#drop-down:checked ~ label .british-container-flag {
  border: #9cbef8 solid 2px;
}

.flags {
  position: relative;
}
#checkbox-america:checked ~ .british-flag {
  visibility: hidden;
}

.british-flag {
  width: 50px;
  display: block;
  height: auto;
}

#checkbox-america:checked ~ .checkbox-america {
  position: absolute;
  top: 0px;
  left: 0px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline;
  position: absolute;
  top: 24px;
  left: 55px;
}

/*
************END***********
*/ /*# sourceMappingURL=styles.css.map */
