/*
**************************
          SCSS
**************************
*/
.container-ready .btn, .container-working img, .see-all-case-studies, .maths-tutoring .btn {
  display: block;
  margin: 0px auto;
}

/*
************END***********
*/
/*
**************************
          general
**************************
*/
* {
  font-family: "Nunito", Sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

h4 {
  font-weight: 700;
}

.btn {
  border: none;
  padding: 13px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-yellow {
  background-color: #f9dd4a;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
  font-weight: bold;
  color: #3d3d3d;
}

.btn-yellow:hover {
  background-color: #fff9c6;
}

.btn-blue {
  background-color: #2779f5;
  color: white;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #014cc1;
}

.btn-green {
  background-color: #00bc89;
  color: white;
  font-weight: bold;
}

.btn-green:hover {
  background-color: #0a8a67;
  font-weight: bold;
}

.btn-darkblue {
  background-color: #09217b;
  color: white;
  font-weight: bold;
}

.btn-darkblue:hover {
  background-color: #050d2b;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 10px;
}

section {
  margin-bottom: 30px;
}

/*
************END***********
*/
/*
**************************
          header
**************************
*/
header {
  margin: 0px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
}

header img {
  max-width: 173px;
  width: 100%;
}

.container-header > a {
  flex-shrink: 2;
}

.container-header {
  height: 74px;
  max-width: 350px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/*
************END***********
*/
/*
**************************
          navbar
**************************
*/
.burger {
  margin-top: 3px;
  border-radius: 7px;
  padding: 3px 6px;
}

.burger img {
  height: 32px;
  width: 27px;
  margin-bottom: 0px;
}

.burger:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

.hide-me {
  position: absolute;
  opacity: 0;
}

header .come-down {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 320px;
  background: white;
  z-index: 4;
  padding: 16px 24px 16px 16px;
  pointer-events: all;
}
header .come-down .dropdown {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 16px;
}
header .come-down .dropdown ul li {
  font-weight: 400;
}

.logo-dropdown {
  margin-bottom: 16px;
}

.backdrop > .come-down > li:not(a) {
  font-weight: 700;
}

.come-down a:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav ul li:focus-within .burger {
  border: #d9d9da solid 2px;
  padding: 3px 4px 3px 4px;
}

nav ul li:focus-within ul {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: rgba(17, 24, 39, 0.5);
  pointer-events: none;
}

nav ul li:focus-within > .backdrop {
  display: block;
}

nav ul li:focus-within:has(.burger) {
  pointer-events: none;
}

.request-quote-btn,
.log-in-btn {
  height: 36px;
  padding: 7px 24px;
  margin-bottom: 3px;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.header-icon {
  margin-bottom: 0px;
  width: 39px;
}

.dropdown .arrow-down {
  display: none;
}

/*
************END***********
*/
/*
**************************
          pop-up
**************************
*/
.pop-up {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #09217b;
  color: white;
  padding: 5px;
  z-index: 3;
  animation: popup 1s ease-in-out;
}
.pop-up label {
  font-weight: 900;
  font-size: 12px;
  text-align: right;
  display: block;
  margin-top: -5px;
  margin-bottom: -15px;
  cursor: pointer;
}

@keyframes popup {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.pop-up-container {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-template-rows: repeat(2, fit-content(80px));
  width: 100%;
  padding: 3px;
  gap: 0px 50px;
}
.pop-up-container img {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-bottom: 10px;
  max-width: 119px;
  width: 100%;
  justify-self: center;
}
.pop-up-container p {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
  font-weight: 600;
  text-align: left;
  line-height: 18px;
  font-size: 14px;
}
.pop-up-container button {
  grid-row: 2/3;
  grid-column: 2/3;
  min-width: unset;
  box-shadow: none;
  padding: 5px 15px;
  font-size: 12px;
  line-height: 18px;
  justify-self: center;
}

.pop-up:has(#close:checked) {
  display: none;
}

/*
************END***********
*/
/*
**************************
       video-section
**************************
*/
.video-section {
  padding: 37px 15px 0px 15px;
}

h1 {
  font-size: 20px;
  line-height: 35px;
  font-weight: 700;
}

.yellow-box {
  background-color: #f9dd4a;
  border-radius: 20px 20px 20px 0;
  padding: 0 15px;
  white-space: nowrap;
}

p,
h1 {
  text-align: center;
}

.videoandtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video-section .videoandtext > p {
  margin-top: 13px;
  margin-bottom: 32px;
  padding: 6px 16px;
}

.video-section h1 {
  margin-bottom: 0px;
}
.video-section p {
  margin-bottom: 42px;
}
.video-section picture {
  display: none;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

iframe {
  border: 5px solid #09217b;
  border-radius: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p > .speaker {
  display: inline;
  height: 20px;
  width: 20px;
}

.hear {
  background-color: #eee;
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 40px 10px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 3px;
  align-self: flex-end;
  text-align: left;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.request-quote-intro {
  animation: btnslideinleft 2s;
}

.request-quote-intro,
.how-it-works-btn-intro {
  padding: 13px;
  margin: 0px 4px;
  line-height: 22px;
}

@keyframes btnslideinleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.how-it-works-btn-intro {
  animation: btnslideinright 2s;
}

@keyframes btnslideinright {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/*
************END***********
*/
/*
**************************
  consistent and reliable
**************************
*/
.consistent {
  background-color: rgb(249, 248, 248);
  padding: 14px 15px 0px 15px;
  margin-bottom: 20px;
}
.consistent h4 {
  font-size: 15px;
  margin-bottom: 11px;
}
.consistent P {
  text-align: left;
}

.looking-glass {
  width: 18px;
  height: auto;
  display: inline-block;
  margin-right: 12px;
}

.consistent label {
  color: #2779f5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 30px;
}

input {
  display: none;
}

input:checked + label {
  text-decoration: underline;
}

.container-changing-pictures {
  position: relative;
  align-self: stretch;
}

.consistent label:hover,
.consistent a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.container-links {
  display: block;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 11px 12px;
  margin-top: 8px;
  align-self: stretch;
}

.container-links a {
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  line-height: 22px;
  margin-bottom: 8px;
}

.right-arrow {
  width: 9px;
  height: auto;
  display: inline;
}

#cost-effective,
#free-primary,
#free-secondary,
#premium-primary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

#cost-effective {
  visibility: visible;
}

input:checked label {
  text-decoration: underline;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 563px;
  padding: 5px 5px;
}

#underline1:checked ~ .container-changing-pictures > #cost-effective,
#underline2:checked ~ .container-changing-pictures > #free-primary,
#underline3:checked ~ .container-changing-pictures > #free-secondary,
#underline4:checked ~ .container-changing-pictures > #premium-primary {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in;
  z-index: 2;
}

/*
************END***********
*/
/*
**************************
Maths tutoring programmes
**************************
*/
.maths-tutoring {
  padding: 10px 15px 0px 15px;
}

.maths-tutoring h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: -8px;
  line-height: 34px;
}

.maths-tutoring h3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 13px;
}
.maths-tutoring picture {
  margin-bottom: 12px;
}
.maths-tutoring .btn {
  padding: 12px 13px;
  margin-bottom: 36px;
}
.maths-tutoring .view-GCSE {
  font-size: 20px;
  padding: 15px 40px;
  line-height: 21px;
}

/*
************END***********
*/
/*
**************************
           banner
**************************
*/
.container-banner {
  background: linear-gradient(166deg, #398bda 1%, #00bc89 40%);
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 27px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 30px;
}
.banner img {
  max-width: 290px;
  min-width: 10px;
  height: auto;
  flex-basis: 30%;
}
.banner p {
  flex-basis: 70%;
  text-align: left;
  margin-bottom: 0px;
}

/*
************END***********
*/
/*
**************************
Why schools like yours choose TSL
**************************
*/
.why {
  text-align: left;
  margin-bottom: 49px;
}
.why h2 {
  text-align: center;
  margin: 0px 15px;
  margin-bottom: -30px;
}
.why h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
}
.why p {
  text-align: left;
}
.why q {
  font-style: italic;
  font-size: 15px;
}
.why q ~ p {
  font-weight: 700;
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 16px;
}
.why picture {
  margin-top: 4px;
  margin-bottom: 17px;
}
.why .btn {
  padding: 12px 15px;
  margin-bottom: 6px;
}

.reach-more-pupils,
.maximise-school-funding,
.save-on-staff-training {
  background-color: rgb(249, 248, 248);
}

.reach-more-pupils,
.address-individual-gaps,
.maximise-school-funding,
.free-up-staff-time,
.save-on-staff-training {
  padding: 15px;
}

/*
************END***********
*/
/*
**************************
      turning cards
**************************
*/
.container-turning-cards {
  margin: 0px 14px 64px 14px;
  height: 619px;
}

.turning-cards {
  max-width: 500px;
  height: 300px;
  width: 100%;
  perspective: 1000px;
  cursor: pointer;
  margin: 0px auto 10px auto;
}

/* This container is needed to position the front and back side */
.turning-cards-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin: 0px auto 10px auto;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.turning-cards .turning-cards-inner:hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  z-index: 1;
}

/* Style the front side */
.front,
.back {
  background-color: white;
  border-radius: 13px;
  padding: 40px 45px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

/* Style the back side */
.back {
  transform: rotateY(180deg);
}
.back p {
  font-weight: bold;
  font-size: 15px;
  z-index: 2;
}
.back q,
.back .quote-turning-cards {
  margin-bottom: 10px;
  font-weight: 400;
  margin-bottom: 27px;
  font-size: 15px;
}

.front img {
  align-self: flex-end;
  height: 19px;
  width: 18px;
}
.front p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0px;
}

.turning-cards .number {
  font-size: 45px;
  line-height: 0px;
  margin-bottom: 72px;
  margin-top: 78px;
}

.schools-supported .number {
  color: #2779f5;
}

.pupils-taught .number {
  color: #00bc89;
}

/*
************END***********
*/
/*
**************************
          carousel
**************************
*/
.container-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -83px;
  left: 11%;
  margin: 0px auto;
  width: 77%;
  z-index: 5;
}
.container-arrows label {
  position: relative;
  height: 48px;
  width: 48px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container-arrows .label-arrow-maria {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.container-arrows .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 19px;
  width: 13px;
}

.carousel-item {
  width: 93%;
  height: 504px;
  background-color: white;
  border-radius: 30px;
  padding: 23px 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#maria {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#catherine-next:checked ~ #catherine,
#mandy-next:checked ~ #mandy,
#gemma-next:checked ~ #gemma,
#abi-next:checked ~ #abi,
#daniel-next:checked ~ #daniel,
#angie-next:checked ~ #angie,
#liz-next:checked ~ #liz {
  z-index: 2;
  position: absolute;
  display: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes slideinright {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
#maria-back:checked ~ #maria,
#catherine-back:checked ~ #catherine,
#mandy-back:checked ~ #mandy,
#gemma-back:checked ~ #gemma,
#abi-back:checked ~ #abi,
#daniel-back:checked ~ #daniel,
#angie-back:checked ~ #angie {
  z-index: 2;
  position: absolute;
  display: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes slideinleft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 594px;
}

.carousel-item .quotation {
  height: 42px;
  margin-top: 3px;
}
.carousel-item .logo-carousel {
  width: 50px;
}

.container-carousel-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 13px;
}

.carousel-item p {
  text-align: left;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 29px;
}

.carousel-item p:nth-child(2) {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
}

.carousel-item p:nth-child(3) {
  font-size: 13px;
  margin-bottom: 7px;
}

.carousel-item a {
  display: block;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.carousel-item a span {
  background-color: #e3f2ff;
  padding: 0 4px;
  border-radius: 4px;
}

.carousel-item a:hover {
  text-decoration: underline;
}

.see-all-case-studies {
  margin-bottom: 31px;
  padding: 12px 12px;
}

/*
************END***********
*/
/*
**************************
Working in partnership with the education community
**************************
*/
.container-working {
  box-shadow: 0px 8.25px 11.25px rgba(0, 0, 0, 0.2), 0px 6.75px 34.5px rgba(0, 0, 0, 0.12), 0px 18px 28.5px rgba(0, 0, 0, 0.14);
  width: 94%;
  margin: 0px auto 30px auto;
  padding: 14px 30px;
  border-radius: 24px;
}
.container-working h2 {
  text-align: center;
  margin-bottom: 0px;
}

.logo-rising-star {
  max-width: 300px;
  width: 100%;
}

.logo-wwfcsc {
  max-width: 180px;
  width: 100%;
}

.container-working p {
  padding: 10px 0 25px 0;
}

.card-NTP {
  animation: comeup 2s ease-in-out both;
}

.card-rs {
  animation: comeup 2s ease-in-out both;
  animation-delay: 1s;
}

.card-UCL {
  animation: comeup 2s ease-in-out both;
  animation-delay: 2s;
}

.card-wwfcsc {
  animation: comeup 2s ease-in-out both;
  animation-delay: 3s;
}

.card-CFEY {
  animation: comeup 2s ease-in-out both;
  animation-delay: 4s;
}

.card-IDS {
  animation: comeup 2s ease-in-out both;
  animation-delay: 5s;
}

@keyframes comeup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
************END***********
*/
/*
**************************
  ready to get started
**************************
*/
.container-ready {
  padding: 30px;
  background-color: white;
  max-width: 515px;
  margin: 0px 15px 20px 15px;
  padding: 28px 60px;
}
.container-ready h2 {
  text-align: center;
}
.container-ready p {
  margin-bottom: 19px;
}
.container-ready .btn {
  padding: 13px;
}

main {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
  padding-bottom: 20px;
}

/*
************END***********
*/
/*
**************************
          footer
**************************
*/
footer {
  padding: 18px 0px;
  background-color: rgb(249, 248, 248);
}
footer a:hover {
  text-decoration: underline;
}
footer h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}
footer ul li {
  margin-bottom: -2px;
}
footer ul li a {
  font-size: 15px;
}
footer p {
  margin-bottom: 0px;
  text-align: left;
}
footer p small {
  font-size: 15px;
}

.container-footer {
  max-width: 350px;
  margin: 0px auto;
  width: 100%;
}

footer ul li ul {
  margin-bottom: 33px;
}

footer .logo-footer {
  width: 173px;
  margin-bottom: 15px;
}

.icons {
  width: 18px;
  display: inline;
}

.icon-address {
  height: 17px;
  margin-bottom: -3px;
  width: auto;
}

.icon-email {
  margin-bottom: -3px;
}

.contact {
  margin-bottom: 9px;
}
.contact a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contact span {
  padding: 0px 5px;
  font-size: 15px;
}

.social-media {
  height: 32px;
  margin: 5px 5px 5px 0px;
  display: inline;
}

.container-social-media {
  margin-bottom: 3px;
}

.container-flag {
  border-radius: 45px;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flag {
  height: 30px;
}

.checkbox-america {
  display: none;
}

#drop-down {
  cursor: pointer;
}

#drop-down:checked ~ .checkbox-america {
  display: inherit;
  position: absolute;
}

#drop-down:checked ~ label .british-container-flag {
  border: #9cbef8 solid 2px;
}

.flags {
  position: relative;
}

#checkbox-america:checked ~ .british-flag {
  visibility: hidden;
}

.british-flag {
  width: 50px;
  display: block;
  height: auto;
}

#checkbox-america:checked ~ .checkbox-america {
  position: absolute;
  top: 0px;
  left: 0px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline;
  position: absolute;
  top: 24px;
  left: 55px;
}

/*
************END***********
*/
/*
**************************
      media queries
**************************
*/
@media (min-width: 297px) {
  .carousel-item {
    height: 483px;
  }
  .carousel-container {
    height: 571px;
  }
}
@media (min-width: 330) {
  .container-ready .btn {
    padding: 13px 38px;
  }
  .why .btn {
    min-width: 166px;
  }
  .how-it-works-btn-intro {
    padding: 12px 34px;
  }
  .request-quote-intro {
    min-width: 166px;
  }
}
@media (min-width: 336px) {
  .container-form {
    height: 520px;
  }
}
@media (min-width: 359px) {
  .container-form {
    height: 479px;
  }
}
@media (min-width: 372px) {
  .carousel-item {
    height: 434px;
  }
  .carousel-container {
    height: 524px;
  }
}
@media (min-width: 382px) {
  .carousel-item {
    height: 383px;
  }
  .btn {
    min-width: 166px;
  }
  .come-down .btn {
    min-width: unset;
  }
  .carousel-container {
    height: 473px;
  }
}
@media (min-width: 411px) {
  .container-form {
    height: 450px;
  }
}
@media (min-width: 462px) {
  .container-form {
    height: 445px;
  }
}
@media (min-width: 530px) {
  .container-form {
    height: 470px;
  }
}
@media (min-width: 556px) {
  .carousel-item {
    height: 330px;
  }
  .carousel-container {
    height: 417px;
  }
}
@media (min-width: 576px) {
  .video-section,
  .container-footer,
  .container-header,
  .consistent > div,
  .maths-tutoring {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) {
  header .come-down {
    max-width: none;
    width: 352px;
    padding: 32px 40px 32px 32px;
  }
  .carousel-item {
    height: 413px;
  }
  .carousel-container {
    height: 493px;
  }
  ::-webkit-scrollbar-thumb {
    height: 150px;
  }
  .links-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content(100px) fit-content(100px) fit-content(100px);
  }
  .container-footer,
  .container-header,
  .consistent > div,
  .maths-tutoring {
    max-width: 600px;
  }
  .container-form {
    height: 510px;
  }
  .container-grid-maths {
    margin-left: 50px;
    margin-right: 50px;
  }
  .container-banner {
    padding: 20px 42px;
  }
  .container-carousel-img {
    flex-direction: column;
  }
  .container-ready {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 640px) {
  .container-footer,
  .container-header,
  .consistent > div,
  .video-section,
  .maths-tutoring {
    max-width: 640px;
  }
  .consistent > div {
    margin-left: auto;
    margin-right: auto;
  }
  .container-grid-maths {
    margin-left: 70px;
    margin-right: 70px;
  }
  .container-banner {
    padding: 20px 20px;
  }
}
@media (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    height: 170px;
  }
  .container-footer,
  .container-header,
  .consistent > div,
  .maths-tutoring,
  .video-section {
    max-width: 768px;
  }
  .pop-up-container {
    gap: 0px 20px;
    padding: 10px;
  }
  .pop-up-container p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .pop-up-container button {
    font-size: 18px;
    padding: 15px 30px;
    line-height: 25px;
  }
  .video-section h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .video-section h1 span {
    font-size: 35px;
  }
  .hear {
    font-size: 15px;
  }
  section {
    margin-bottom: 40px;
  }
  .consistent h4 {
    font-size: 20px;
    line-height: 27px;
  }
  .container-links {
    height: 140px;
    padding: 20px;
  }
  .container-links a {
    font-size: 20px;
    display: inline;
  }
  .container-links a .right-arrow {
    display: inline-block;
    width: 20px;
    padding-left: 7px;
  }
  .consistent {
    padding-left: 30px;
    padding-right: 20px;
  }
  #cost-effective,
  #free-primary,
  #free-secondary,
  #premium-primary {
    top: -536px;
    left: 54%;
  }
  .consistent div > h4,
  .consistent div > p,
  .consistent div .container-form > label {
    width: 48%;
  }
  .container-form {
    height: 218px;
  }
  header a,
  header .come-down .dropdown {
    font-size: 20px;
    line-height: 27px;
  }
  main p {
    font-size: 20px;
    line-height: 27px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .come-down .dropdown .btn {
    font-size: 15px;
    line-height: 22px;
    padding: 7px 24px;
  }
  header .come-down {
    width: 444px;
  }
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .video-section > p {
    font-size: 20px;
    line-height: 27px;
  }
  .video-section {
    padding-top: 60px;
  }
  .btn {
    font-size: 20px;
    padding: 15px 30px;
    line-height: 27px;
  }
  .maths-tutoring h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .maths-tutoring {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px auto 35px auto;
    max-width: 768px;
  }
  .container-grid-maths {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 755px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .container-grid-maths div {
    padding: 0px 15px;
  }
  .container-grid-maths div p {
    font-size: 20px;
    line-height: 27px;
    padding: 0px 24px;
  }
  .container-banner {
    padding: 40px 27px;
    margin-bottom: 42px;
  }
  .banner {
    max-width: 756px;
    margin: 0px auto;
  }
  .why {
    margin-bottom: 32px;
  }
  .why h2 {
    margin-bottom: 20px;
  }
  .why > div:nth-child(odd) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .why > div:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
  }
  .why > div {
    margin: 0px auto;
  }
  .why > div picture {
    max-width: 432px;
  }
  .why > div div {
    max-width: 320px;
  }
  .why > div > picture,
  .why > div > div {
    padding: 0px 15px;
  }
  .why > div > picture {
    flex-basis: 260%;
  }
  .why div div q {
    font-size: 20px;
    line-height: 27px;
  }
  .why div div .btn {
    line-height: unset;
    padding: 15px 16px;
  }
  .turning-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0px auto;
    gap: 30px;
  }
  .turning-cards .turning-cards-inner .back {
    border-radius: 40px 0px 40px 40px;
  }
  .turning-cards .turning-cards-inner .front {
    border-radius: 0px 40px 40px 40px;
  }
  .turning-cards-inner .front,
  .turning-cards-inner .back {
    padding: 40px 50px;
  }
  .turning-cards .turning-cards-inner .back p,
  .turning-cards .turning-cards-inner .back q {
    font-size: 20px;
    line-height: 27px;
  }
  .container-turning-cards {
    height: 294px;
  }
  .carousel-item {
    width: 671px;
    height: 413px;
    padding: 30px 52px;
  }
  #catherine-next:checked ~ #catherine,
  #mandy-next:checked ~ #mandy,
  #gemma-next:checked ~ #gemma,
  #abi-next:checked ~ #abi,
  #daniel-next:checked ~ #daniel,
  #angie-next:checked ~ #angie,
  #liz-next:checked ~ #liz,
  #maria-back:checked ~ #maria,
  #catherine-back:checked ~ #catherine,
  #mandy-back:checked ~ #mandy,
  #gemma-back:checked ~ #gemma,
  #abi-back:checked ~ #abi,
  #daniel-back:checked ~ #daniel,
  #angie-back:checked ~ #angie {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 105px;
  }
  .carousel-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 105px;
  }
  .container-carousel-img {
    align-self: stretch;
    width: 350px;
  }
  .carousel-item .logo-carousel {
    width: 70px;
  }
  .carousel-item p:nth-child(2) {
    font-size: 20px;
  }
  .carousel-item div > p:first-child {
    margin-top: 10px;
  }
  .container-arrows {
    left: 3%;
    width: 95%;
  }
  .see-all-case-studies {
    margin-top: -18px;
    margin-bottom: 60px;
    padding: 15px 40px;
  }
  .container-working {
    margin: 0px 0px 62px 0px;
    padding: 14px 30px 40px 30px;
    width: 100%;
  }
  .container-working h2 {
    margin-bottom: 30px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-cards {
    display: grid;
    grid-template-columns: 345px 345px;
    grid-template-rows: repeat(3, 324px);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 58px 28px;
  }
  .container-cards .cards {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    height: 325px;
    max-width: 350px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 61px;
  }
  .container-cards .cards .logo-rising-star {
    margin-top: 33px;
  }
  .card-NTP,
  .card-rs {
    animation: comeup 2s ease-in both;
  }
  .card-UCL,
  .card-wwfcsc {
    animation: comeup 2s ease-in both;
    animation-delay: 1s;
  }
  .card-CFEY,
  .card-IDS {
    animation: comeup 2s ease-in both;
    animation-delay: 2s;
  }
  .container-ready .btn {
    padding: 15px 40px;
  }
}
@media (min-width: 781px) {
  .container-header {
    max-width: 781px;
  }
  .contact span,
  footer p,
  footer ul li ul li a {
    line-height: 29px;
  }
}
@media (min-width: 960px) {
  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .come-down .dropdown .btn {
    font-size: 20px;
    height: unset;
    padding: 11px 25px;
  }
  footer {
    padding: 32px 0px;
  }
  footer p {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .pop-up-container {
    grid-template-columns: 1fr 2.3fr 1fr;
    grid-template-rows: fit-content(80px);
    gap: 0px 10px;
  }
  .pop-up-container img {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 0px;
  }
  .pop-up-container p {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
  }
  .pop-up-container button {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: center;
  }
  .pop-up label {
    margin-top: 5px;
    margin-right: 12px;
    margin-bottom: -24px;
  }
  .video-section h1 {
    font-size: 40px;
    line-height: 62px;
  }
  .video-section h1 span {
    font-size: 45px;
    line-height: 62px;
  }
  .container-btn {
    width: 464px;
    margin: 0px auto;
  }
  .container-btn .how-it-works-btn-intro {
    padding: 15px 40px;
  }
  section {
    margin-bottom: 55px !important;
  }
  .banner {
    width: 689px;
  }
  .banner img {
    max-width: 162px;
  }
  .maths-tutoring h2 {
    font-size: 42px;
    line-height: 57px;
  }
  .maths-tutoring h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .why h2 {
    font-size: 42px;
    line-height: 57px;
  }
  .why h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .carousel-item div p:first-child {
    font-size: 20px;
    line-height: 27px;
  }
  .container-working {
    box-shadow: none;
  }
  .container-working h2 {
    font-size: 42px;
    line-height: 57px;
    margin-bottom: 35px;
  }
  .container-ready {
    max-width: 548px;
  }
  .container-ready h2 {
    font-size: 42px;
    line-height: 57px;
  }
  .footer-flex {
    max-width: 1024px;
    justify-content: space-between;
  }
  .footer-flex .links-footer {
    padding-right: 61px;
  }
  footer h4 {
    margin-bottom: 7px;
  }
  .links-footer > li {
    margin-bottom: 6px;
  }
  .container-footer {
    max-width: 785px;
  }
}
@media (min-width: 1024px) {
  .container-footer,
  .container-header,
  .video-section,
  .consistent > div,
  .maths-tutoring {
    max-width: 1024px;
  }
  ::-webkit-scrollbar-thumb {
    height: 185px;
  }
  #cost-effective,
  #free-primary,
  #free-secondary,
  #premium-primary {
    top: -400px;
  }
  .container-grid-maths {
    width: 1020px;
  }
  .banner {
    max-width: 914px;
    width: auto;
  }
  .banner img {
    max-width: 225px;
  }
  .why > div {
    padding: 15px 0px;
  }
  .why > div picture {
    max-width: 600px;
  }
  .why > div div {
    max-width: 420px;
  }
  .turning-cards {
    max-width: 988px;
  }
  .carousel-item {
    width: 783px;
    height: 265px;
    padding: 30px 42px;
    border-radius: 44px;
    gap: 35px;
  }
  .carousel-container {
    height: 293px;
  }
  .see-all-case-studies {
    margin-top: 95px;
  }
  .container-arrows {
    left: -6%;
    width: 112%;
    top: 386px;
  }
  .container-arrows .arrows {
    height: 22px;
    width: 17px;
  }
  .container-arrows label {
    height: 62px;
    width: 65px;
  }
  .carousel-scroller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 330px;
  }
  .carousel-scroll-item {
    width: 20px;
    height: 20px;
    background-color: #d6d6d6;
    display: block;
    transition: opacity 0.2s ease;
    border-radius: 0 10px 0 10px;
  }
  #maria-back:checked ~ .carousel-scroller .carousel-scroll-item:first-child,
  #catherine-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(2),
  #catherine-back:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(2),
  #mandy-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(3),
  #mandy-back:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(3),
  #gemma-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(4),
  #gemma-back:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(4),
  #abi-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(5),
  #abi-back:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(5),
  #daniel-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(6),
  #daniel-back:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(6),
  #angie-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(7),
  #angie-back:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(7),
  #liz-next:checked ~ .carousel-scroller .carousel-scroll-item:nth-child(8) {
    background-color: #2779f5;
  }
  #catherine-next:checked ~ #catherine,
  #mandy-next:checked ~ #mandy,
  #gemma-next:checked ~ #gemma,
  #abi-next:checked ~ #abi,
  #daniel-next:checked ~ #daniel,
  #angie-next:checked ~ #angie,
  #liz-next:checked ~ #liz,
  #maria-back:checked ~ #maria,
  #catherine-back:checked ~ #catherine,
  #mandy-back:checked ~ #mandy,
  #gemma-back:checked ~ #gemma,
  #abi-back:checked ~ #abi,
  #daniel-back:checked ~ #daniel,
  #angie-back:checked ~ #angie {
    padding-bottom: 30px;
  }
  .carousel-item a {
    margin-top: -30px;
  }
  .carousel-item .logo-carousel {
    width: 90px;
    margin-bottom: -15px;
  }
  .container-carousel-img {
    justify-content: space-between;
  }
  .container-working h2 {
    width: 900px;
  }
  .container-cards {
    grid-template-columns: repeat(2, 476px);
  }
  .container-cards .cards {
    max-width: 477px;
  }
  .links-footer {
    gap: 0px 73px;
  }
}
@media (min-width: 1200px) {
  ::-webkit-scrollbar-thumb {
    height: 195px;
  }
  .pop-up-container {
    grid-template-columns: 0.9fr 4fr 1fr;
    gap: 0px 19px;
  }
  .pop-up-container p {
    margin-left: 0px;
  }
}
@media (min-width: 1280px) {
  .container-footer,
  .container-header,
  .video-section,
  .consistent > div,
  .maths-tutoring {
    max-width: 1280px;
  }
  ::-webkit-scrollbar-thumb {
    height: 205px;
  }
  header > div {
    display: block;
    margin: 0px auto;
  }
  .container-header {
    height: 69px;
    margin-left: auto;
    margin-right: auto;
  }
  header .backdrop {
    display: block;
    position: inherit;
    height: auto;
    width: auto;
  }
  .dropdown .arrow-down {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    position: static;
    padding-top: 2px;
  }
  header .come-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    height: 69px;
    padding: 0px;
    width: 1280px;
  }
  .focus {
    pointer-events: none;
  }
  nav ul li:focus-within .burger {
    display: none;
  }
  header .focus .burger,
  .container-header .first-logo-header {
    display: none;
  }
  nav ul li:focus-within ul li,
  nav ul li:hover .come-down > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 0px;
    position: relative;
    width: auto;
    cursor: pointer;
  }
  nav ul li:focus-within div > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    height: 69px;
    padding: 0px;
    width: 1280px;
  }
  nav ul li:focus-within ul li ul {
    display: none;
  }
  nav ul li:hover .arrow-down,
  nav ul li:focus-within .arrow-down {
    margin-top: 1px;
    margin-left: 4px;
  }
  header .come-down .dropdown ul li {
    font-weight: bold;
  }
  .come-down > .dropdown > ul {
    display: none;
    font-weight: bold;
  }
  .come-down > .dropdown > ul li {
    margin: 0;
    padding-bottom: 8px;
    height: unset;
  }
  .come-down > .dropdown > ul li a {
    font-size: 15px;
  }
  .maths-tutoring-for-schools > ul {
    width: 241px;
  }
  .how-it-works > ul {
    width: 122px;
  }
  .Resources > ul {
    width: 313px;
  }
  .pricing > ul {
    width: 316px;
  }
  header .come-down li:hover > ul,
  header .come-down li:focus-within > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 42px;
    left: 0;
    display: block;
    background-color: white;
    padding: 16px 16px 8px 16px;
    box-shadow: 0px 1px 3.25px rgba(0, 0, 0, 0.2);
  }
  .come-down li ul li:hover {
    color: #2779f5;
    cursor: pointer;
  }
  .come-down li a:hover {
    text-decoration: none;
    color: #2779f5;
  }
  .come-down .dropdown .btn {
    font-size: 20px;
    padding: 8px 24px;
    height: auto;
    line-height: unset;
  }
  header .btn-yellow {
    color: black;
    margin-right: 8px;
    margin-left: 15px;
  }
  header .come-down .dropdown,
  .blog {
    margin-bottom: 2px;
    font-size: 15px;
  }
  .logo-dropdown {
    margin-bottom: 0px;
    width: 154px;
    margin-right: 172px;
  }
  .video-section .links-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content(100px) fit-content(100px);
    gap: 0px 40px;
  }
  .video-section picture {
    display: inline-block;
    width: 303px;
    padding-bottom: 79px;
  }
  .container-video-computer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1255px;
  }
  .container-video-computer .videoandtext {
    flex-grow: 2;
  }
  .container-btn {
    margin-top: -4px;
    width: 458px;
  }
  #cost-effective,
  #free-primary,
  #free-secondary,
  #premium-primary {
    top: -345px;
    width: 616px;
    left: 50%;
  }
  .container-links {
    height: 92px;
  }
  .container-form {
    height: 170px;
  }
  .container-grid-maths {
    width: 1280px;
  }
  section {
    margin-bottom: 56px !important;
  }
  .maths-tutoring h2 {
    max-width: 1240px;
  }
  .maths-tutoring .btn {
    padding: 15px 40px;
    line-height: unset;
    margin-bottom: 18px;
  }
  .container-grid-maths div p {
    margin-bottom: 15px;
  }
  .banner {
    max-width: 1180px;
  }
  .banner img {
    max-width: 290px;
  }
  .container-banner {
    margin-bottom: 60px;
  }
  .why > div:nth-child(even),
  .why > div:nth-child(odd) {
    align-items: center;
  }
  .why > div:nth-child(even) > picture {
    align-self: flex-start;
    padding-top: 15px;
    margin-top: -9px;
  }
  .why > div {
    padding: 15px 0px;
  }
  .why > div picture {
    max-width: 747px;
  }
  .why > div div {
    max-width: 533px;
  }
  .container-turning-cards {
    margin-top: 76px;
    margin-bottom: 100px;
  }
  .container-turning-cards .turning-cards {
    gap: 141px;
    max-width: 1139px;
  }
  .container-turning-cards .turning-cards .number {
    font-size: 89px;
    margin-top: 67px;
    margin-bottom: 83px;
  }
  .container-turning-cards .turning-cards p {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .turning-cards-inner .front,
  .turning-cards-inner .back {
    padding: 40px 42px;
  }
  .carousel-item {
    width: 1020px;
    gap: 42px;
  }
  .carousel-item .logo-carousel {
    width: 105px;
  }
  .container-arrows {
    left: -11.5%;
    width: 123.5%;
    top: -91px;
  }
  .carousel-item div > p:first-child {
    margin-top: 0px;
    padding-right: 41px;
    padding-bottom: 8px;
    width: 775px;
  }
  #catherine div > p:first-child,
  #gemma div > p:first-child,
  #abi div > p:first-child {
    padding-bottom: 64px;
  }
  #mandy div > p:first-child,
  #daniel div > p:first-child,
  #angie div > p:first-child,
  #liz div > p:first-child {
    padding-bottom: 36px;
  }
  .see-all-case-studies {
    margin-bottom: 45px;
  }
  .container-working {
    margin-bottom: 42px;
  }
  .container-working img {
    padding-top: 34px;
    margin-bottom: 20px;
  }
  .container-working h2 {
    width: 1100px;
  }
  .card-NTP,
  .card-rs,
  .card-UCL,
  .card-wwfcsc {
    animation: comeup 2s ease-in both;
    animation-iteration-count: 1;
  }
  .card-CFEY,
  .card-IDS {
    animation: comeup 2s ease-in both;
    animation-delay: 1s;
  }
  .card-UCL img,
  .card-wwfcsc img,
  .card-NTP img {
    padding-top: 39px;
    margin-bottom: 2px;
  }
  .card-IDS img {
    padding-top: 42px;
    margin-bottom: 6px;
  }
  .card-CFEY img {
    padding-top: 60px;
    margin-bottom: 20px;
  }
  .container-cards {
    grid-template-columns: repeat(4, 294px);
    grid-template-rows: repeat(2, 336px);
    gap: 44px 28px;
  }
  .container-cards .cards {
    width: 290px;
    height: 320px;
    padding: 20px 30px;
    gap: 19px;
  }
  .card-CFEY {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .card-IDS {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .container-ready h2 {
    line-height: 32px;
  }
  .container-ready {
    margin-bottom: 99px;
  }
  .links-footer {
    grid-template-columns: repeat(3, 266px);
    grid-template-rows: repeat(2, fit-content(100px));
    gap: 0px 18px;
  }
  .footer-flex .links-footer {
    padding-right: 0px;
    margin-bottom: -11px;
  }
  .footer-flex {
    max-width: 1260px;
  }
}
/*
************END***********
*//*# sourceMappingURL=styles.css.map */